<% flash.now[:warning] = l(:error_no_settings, :url => url_for(:controller => 'projects', :action => 'settings', :tab => 'jenkins', :id => @project)) %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'bootstrap_custom', :plugin => 'redmine_bootstrap_kit' %>
<% end %>

<h2><%= l(:label_jobs_list) %></h2>

<% content_for :sidebar do %>
  <%= render :partial => 'jenkins_sidebar' %>
<% end %>
